.animate__duration__logo {
    --animate-duration: 0.3s;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.started__btn a {
    transition: all 0.3s;
}

.started__btn:hover a {
    background-color: rgb(44 49 73);
}

/* custom text */
.text-metatitle {
    font-size: 12px;
    line-height: 20px;
}

.text-metatitle2 {
    font-size: 20px;
    line-height: 32px;
}