@import "tailwindcss";
@config "../tailwind.config.js";

@layer utilities {
  .max-w-c-1390 {
    max-width: 86.875rem;
  }

  .max-w-c-1235 {
    max-width: 77.188rem;
  }
}

@layer base {
  body {
    @apply text-textlight dark:text-textdark
  }
}

@theme {
  --color-waterloo: #757693;

  --color-textlight: rgb(117 118 147);
  --color-textdark: rgb(153 154 161);
  --color-darkborder: rgb(45 47 64);
  --color-lightborder:rgba(238, 238, 238);
  --color-darkmode: rgb(24 28 49);
  --color-blackbtn: rgb(41 46 69);

  --color-titlebg: rgb(173 255 248);
  --color-titlebg2: rgb(255 234 194);
  --color-titledark: rgb(70 73 90);

  --color-black: rgb(24 28 49);
  --color-btndark: rgb(41 46 69);
  --color-alabaster: rgb(251 251 251);

  --color-primary: rgb(0 107 255);
  --color-primaryho: rgb(0 99 236);

  --color-meta: rgb(32 197 168);
  --color-blacksection: rgb(28 33 54);
}